{% load static from staticfiles %} {% load widget_tweaks %} {% load tags %} {%load admin_urls %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Homepage for the Cloud Controlled Automation Senior Project">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon_new.ico' %}">
    <title>Cloud Controlled Automation</title>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css"/>
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
  </head>
  
  <body>
    <!-- Topbar / Sidebar -->
    <nav class="navbar navbar-default sidebar" role="navigation">
      <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Navigation</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
	  <ul class="nav navbar-nav" data-spy="affix" data-offset-top="200">
	    <li class="{% active_page 'records:dashboard' %}">
	      <a href="{% url 'records:dashboard' %}">Home
		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
	      </a>
	    </li>
	    <li class="{% active_page 'records:overview' %}">
	      <a href="{% url 'records:overview' %}">Recent Activity
		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-upload"></span>
	      </a>
	    </li>
	    <li class="{% active_page 'records:node_list' %}">
	      <a href="{% url 'records:node_list' %}">Nodes
		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cloud"></span>
	      </a>
	    </li>
	    <li class="{% active_page 'records:admin' %}">
	      <a href="{% url 'records:admin' %}">Admin
		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span>
	      </a>
	    </li>
	    <li class="{% active_page 'records:media' %}">
	      <a href="{% url 'records:media' %}">Media
		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-picture"></span>
	      </a>
	    </li>
	    <li class="{% active_page 'records:edit_profile' %}">
	      <a href="{% url 'records:edit_profile' %}">Profile
		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
	      </a>
	    </li>
	    <li>
	      <a href="{% url 'django.contrib.auth.views.logout' %}">Logout
		<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-transfer"></span>
	      </a>
	    </li>
	  </ul>
	</div>
      </div>
    </nav>
    <!-- End Topbar / Sidebar -->
    <!-- Main -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="overflow-y:auto;padding-left:0px;padding-top:0px;padding-right:0px;">
      {% block content %}
      {% endblock %}        
    </div>
    <!-- End main -->
    
    <!-- Javascript placed at the end of the document so the pages load faster -->
    <!-- Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--  Highchart.js -->
    <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts-3d.js"></script>
    <!-- Sidebar --> 
    <script src="{% static 'js/sidebar.js' %}" type="text/javascript"></script>
  </body>
</html>
