{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row">

  {% for node in nodes %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{% static 'images/arduino.jpg' %}" alt="Arduino Uno placeholder image">
      <div class="caption">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">
              {% if node.0.name %}
              {{ node.0.name }} Sensors
              {% else %} 
              {{ node.0 }} Sensors
              {% endif %}
	    </h3>
	  </div>
	  <div class="panel-body">
            <ul class="list-group">
              {% for sensor in node.1 %}
              <li class="list-group-item">{{ sensor }} &nbsp;</li>
              {% endfor %}
              {% if node.1|length == 1 %}
	      <!-- This is so ugly, but boxes are uglier if they
		   don't have 5 items each
		   TODO: refactor listing logic
		-->
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              {% elif node.1|length == 2%}
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              {% elif node.1|length == 3%}
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              {% elif node.1|length == 4%}
              <li class="list-group-item">&nbsp;</li>
              {% endif %}
              
              {% if not node.1 %}
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              <li class="list-group-item">&nbsp;</li>
              {% endif %}
	    </ul>
	  </div>
	</div>
        <div class="btn-group">
          <a href="{% url 'records:node_status' node.0.node_id %}" class="btn btn-primary" role="button">Test Node</a>
          {% if node.2 %}
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Actions<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    {% for action in node.2 %}
	    <li><a href="#">{{ action.name }}</a></li>
	    {% endfor %}
	  </ul>
	  {% endif %}
	</div>        
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock content %}
