{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="well">
	<div class="row">
		<div class="col-md-12">
			<h1>Node List<br><small>Shows the end nodes, sensors, and list of available reports</small></h1>
		</div>
	</div>
</div>
<div class="row">
	{% for node in nodes %}
  <div class="col-sm-4 col-md-3">
		<div class="panel panel-primary"> 
		  <div class="panel-heading">
 				<div class="btn-group pull-right">
      				<span class="pull-right hidden-xs showopacity glyphicon glyphicon-question-sign" data-toggle="popover" data-trigger="hover" data-placement="bottom"
      				title="{{ node.0 }} Tooltip" data-content="{% if node.0.description %}{{ node.0.description }}{% else %}No description{% endif %}"></span>
       	</div>
			  <div class="panel-title">
			    <h5>{% if node.0.name %}{{ node.0.name }}{% else %}{{ node.0 }}{% endif %}</h5>
			  </div>
		  </div>
		  <div class="panel-body">
		    <div class="btn-group-vertical" role="group" style="display:inline;">
		      {% for sensor in node.1 %}
		      
		      {% if sensor %}
		      <div class="btn-group" role="group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  {{ sensor.name }}
						  <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
						  <li><a href="{% url 'records:daily_report' node.0.node_id sensor.id %}">Daily Report</a></li>
						  <li><a href="{% url 'records:weekly_report' node.0.node_id sensor.id %}">Weekly Report</a></li>
						  <li><a href="{% url 'records:monthly_report' node.0.node_id sensor.id %}">Monthly Report</a></li>
						  <li><a href="{% url 'records:yearly_report' node.0.node_id sensor.id %}">Yearly Report</a></li>
						  <li><a href="{% url 'records:custom_form' node.0.node_id sensor.id %}">Custom Report</a></li>
						</ul>
		      </div>
		      
		      {% else %}
			      <div class="btn-group" role="group">
							<button type="button" class="btn btn-default disabled">
							  No Sensor<span class="caret"></span>
							</button>
			      </div>
		      {% endif %}
		      {% endfor %}
		    </div>
		  </div>
		</div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
