{% extends 'base.html' %}
{% load tz %}
{% block content %}

	<div class="well">
		<div class="row">
			<div class="col-md-12">
				<h1>{{ type}} Report<br><small>Shows the values registered by {{ sensor_name }}</small></h1>
			</div>
		</div>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">

	var date = new Date();
	$(function () {
		Highcharts.setOptions({
	        global: {
	            useUTC: false,
	        }
	    });
		
	    $('#container').highcharts({
	    	chart: {
	    		plotBackgroundColor: '#FFFAFA',
          backgroundColor: '#FFFAFA',
	    		zoomType: 'xy',
	    		defaultSeriesType: 'line',
	    	},
	    	title: {
	            text: '{{ type }} {{ sensor_type }} Values',
	            x: -20 //center
	        },
	        subtitle: {
	            text: 'Cloud Controlled Automation',
	            x: -20
	        },
	        xAxis: {
	            type: 'datetime',
	            dateTimeLabelFormats: { // don't display the dummy year
	                month: '%e. %b',
	                year: '%b',
	                hour: '%I:%M%p'
	            },
	            title: 'Time', 
	            {% if type == 'Daily' %}
		            min: new Date().setHours(0, 0, 0, 0),
		            max: new Date().getTime(),//.setHours(24, 0, 0, 0),
		            
		        {% elif type == 'Weekly' %}
		            min: date.setDate(date.getDate() - 7),
		            max: new Date().getTime(),//.setHours(24, 0, 0, 0),
		            
	            {% elif type == 'Monthly' %}
			        min: date.setDate(date.getDate() - 31),
		            max: new Date().getTime(),//.setHours(24, 0, 0, 0),
		        
		        {% elif type == 'Custom Range' %}
	            	min: new Date().setTime({{ min }} ),
	            	max: new Date().setTime( {{ max }} ),
	            	
	            {% else %}
		            min: date.setDate(date.getDate() - 365),
		            max: new Date().setHours(24, 0, 0, 0),
		            
	            {% endif %}
	        },
	        yAxis: {
	            title: {
	                text: '{{ sensor_type }} {{ sensor_unit }}'
	            },
	            plotLines: [{
	                value: 0,
	                width: 1,
	                color: '#808080'
	            }]
	        },
	        tooltip: {
	            valueSuffix: ' {{ sensor_unit }}'
	        },
	        legend: {
	            layout: 'horizontal',
	            align: 'center',
	            verticalAlign: 'bottom',
	            borderWidth: 0,
	            labelFormatter: function () {
	                return '{{ sensor_name }} (click to show/hide)';
	            }, 
	            title: {
	                text: 'Active Sensors',
	                style: {
	                    fontStyle: 'italic'
	                }
	            },
	        },
	        credits: {
	            enabled: false
	        },
	        series: [{% for node in node_list %} {
		            data: {{ node.1|safe }},
		            gapSize: 50,
		            color: '#2c3e50',
		        },{% endfor %}]
	    });
	});
	
	function convertToLocal(time)
	{
		alert("hi");
		var newDate = new Date(0);
		alert("hi2");
		newDate.setUTCSeconds(time);
		alert("");
		alert(time);
		alert(newDate);
		return newDate;
	}
	</script>
	
	<div id="container" style="min-width: 310px;margin: 0px auto"></div>
{% endblock content %}
