option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "Microcontrollers.settings"
    PYTHONPATH: "/opt/python/current/app/Microcontrollers:$PYTHONPATH"
    AWS_USER: "ENTER AWS IAM USERNAME AFTER CREATION"                       # This is your IAM user
    AWS_PWD: "ENTER AWS IAM PASSWORD AFTER CREATION"                        # This is your IAM user
    AWS_ACCESS_KEY: "ENTER AWS ACCESS KEY"                                  # This is your keypair generated in first step
    AWS_SECRET_KEY: "ENTER AWS SECRET KEY"                                  # This is your keypair generated in first step
    AWS_HOST: "ENTER AWS RDS DATABASE HOSTNAME"                             # Check AWS RDS webpage to retrieve this hostname
    AWS_PORT: "ENTER AWS RDS DATABASE PORT (5432)"                          # Port by default is 5432
    DJANGO_SECRET_KEY: "ENTER DJANGO SECRET KEY"                            # I'll send this to you in an e-mail
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "Microcontrollers/wsgi.py"

packages:
  yum:
    postgresql93-devel: []                                                  # This will 'yum install' the package when application is deployed, required for PostgreSQL database